services:
  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: ${API_COMMAND}
    depends_on:
      postgres:
        condition: service_healthy
      my-redis:
        condition: service_healthy
    networks:
      - nest-api

  postgres:
    build:
      context: postgres
      dockerfile: Dockerfile
    container_name: ${POSTGRES_HOST}
    restart: no
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    ports:
      - "5439:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "devuser"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - nest-api

  my-redis:
    image: redis:7
    container_name: my-redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - nest-api

networks:
  nest-api:

volumes:
  pgdata:
  redisdata:
